footer
    #footerlinks
        ul#about
            li
                a(href="/pages/about/") about
            li
                a(href="/pages/rambling/") rambling
            li
                a(href="/pages/directory/username/a/desc/1") directory
            li
                a(href="/pages/contact/") contact
            li
                a(href="/pages/terms/") terms
            li
                a(href="/pages/privacy/") privacy
            li
                a(href="/pages/sponsors/") sponsors
            li
                a(href="/pages/support/") support reddit 
            li
                a(href="/pages/shop/") shop
            li
                a(href="javascript:void(0)", class="copyright") Copyright &nbsp;&copy; 2012 &nbsp;listsil
            li
                a(href="http://twitter.com/", class="tw", title="twitter", target="_blank") &nbsp;
            li
                a(href="http://facebook.com/", class="fb", title="facebook", target="_blank") &nbsp;