#signup-success          
	p   
		Thank you for setting up an account, now you can list items, rate listers, contact listers, and save lists of your farvorite stuff right as you browse.          
	p
		Find what you're looking for:
		img(src="search-box.png", alt="Search box")
	p
		Start listing your extra stuff
		img(src="list-something.png", alt="Listing button")
	p
		Use the dynamic filters to focus your search and find exactly what you are looking for.
		img(src="filter-icons", alt="filter icons")
	h3 Happy Listing!

