<div id="signup-success">         
	<p>  
		Thank you for setting up an account, now you can list items, rate listers, contact listers, and save lists of your farvorite stuff right as you browse.
	</p>
	<p>
		Find what you're looking for:
		<img src="/images/search-box.png" alt="Search box"/>
	</p>
	<p>
		Start listing your extra stuff
		<img src="/images/list-something.png" alt="Listing button"/>
	</p>
	<p>
		Use the dynamic filters to focus your search and find exactly what you are looking for.
		<img src="/images/filter-icons.png" alt="filter icons"/>
	</p>
	<h3>Happy Listing!</h3>
</div>