div(data-role="header", data-position="fixed")
    a(href="javascript:void(0);", class="ui-btn-left back", data-direction="reverse", data-icon="check") Back
    h1 MeListing Mobile
div(data-role="content")
    div(class="center-content")
        div test
div(data-role="footer", class="tabbar", data-id="main-tabbar",  data-position="fixed")
    div(data-role="navbar", class="tabbar")                 
        ul
            li
                a(href="javascript:void(0);", class="default ui-state-persist browse", data-icon="home") Browse
            li
                a(href="javascript:void(0);", class="search ui-state-persist", data-icon="star") Search
            li
                a(href="javascript:void(0);", class="ui-btn-active  ui-state-persist get-app", data-icon="star") Get MeListing App